@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.brand-handwritten {
    font-family: 'Caveat', cursive;
    font-size: 1.2rem;
    font-weight: 100;
    color: rgb(235, 235, 235);
  }
  